
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --font-family-poppins: "Poppins", sans-serif;   
    overflow-x:hidden ;
    font-family: var(--font-family-poppins);
    margin: 0;
    padding: 0;
}
  
@theme {
    --color-primary:#92E3A9;
    --color-white: #fff;
    --color-purple: #3f3cbb;
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
  }

  @theme {
   --breakpoint-xs: 320px
  }

  @layer base {
  :root {
        --radius: 0.5rem;
    }
}